.jumbotron{
  text-align: center;
  background: rgb(0,0,127,0.2);
}
#fountain-bench{
  margin-top: 20px;
  text-align: center;
  background: rgba(0,0,0,0.4);
}
#fire-bench{
  margin-top: 20px;
  text-align: center;
  background: rgba(0,0,0,0.4);
}
#fire, #snow{
  border-top: 2px solid black;
  padding-top: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
